*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/example/xjc/visualalgorithm/model/
src/main/java/com/example/xjc/visualalgorithm/presenter/
src/main/java/com/example/xjc/visualalgorithm/view/
